nltk_data/
.ipython/
.cache/
.config/
.ipynb_checkpoints/
.local/
.nv/
.jupyter/
.keras/
.cache-keatonconrad/
glove.840B.300d.txt
*.pickle
.gitconfig
.env
songs.zip
.DS_Store
.bash_history
.cache-*
.yarnrc
__pycache__/
*.pyc